.glyphicon {
  margin-left: 5px; }

/*-- Topography --*/
body {
  min-height: 100%;
  padding-top: 50px;
  font-size: 15px;
  font-family: 'Open Sans', Arial, sans-serif; }

.navbar-default {
  border: none;
  background: black url(../images/navbar.png) repeat;
  font-size: 17px; }

.bs-header {
  padding: 10px 15px 10px;
  border-bottom: 2px solid #f0e6f2;
  background: url(/assets/images/pattern-gray.png);
  text-align: center;
  font-size: 16px; }

.navbar-nav li a, .navbar-form {
  text-align: center; }

.bs-header p {
  font-weight: 300;
  line-height: 1.5; }

.bs-header .container {
  position: relative; }

.side-nav {
  display: block;
  margin-top: 30px;
  padding-bottom: 25px;
  font-size: 18px; }

.side-nav .list-group-item {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  color: #acde8b;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.side-nav .list-group-item:hover,
.side-nav .list-group-item:focus {
  background-color: #ececea;
  color: #333; }

.side-nav .list-group-item.active,
.side-nav .list-group-item.active:hover,
.side-nav .list-group-item.active:focus {
  background: black;
  color: white;
  background: #428bca; }

em {
  font-weight: bold; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #428bca;
  color: #ffffff; }

.nav-tabs {
  color: #5bc0de;
  font-weight: bold; }

.main-content {
  margin-top: 30px;
  padding-bottom: 10px; }

/*-- Forms --*/
.course-form {
  margin: 0 auto;
  width: 70%; }

/*-- Headings --*/
h2 {
  word-spacing: 4px;
  letter-spacing: 1px;
  font-size: 34px;
  font-family: 'BebasNeue', arial, monospace; }

/* GPA Calculator Table */
.semester {
  float: left;
  margin-right: 2%;
  margin-left: 1%;
  width: 47%; }

.gpa .form-control {
  padding: 1px;
  width: 100%; }

.gpa th,
.course th,
.course td,
.gpa input {
  text-align: center; }

.gpa-button a {
  margin-right: 20px;
  margin-bottom: 50px; }

.gpa-button {
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 50% !important; }

.gpa-button input {
  margin-left: 20px;
  width: 100px; }

.gpa-button p {
  font-weight: bold;
  font-size: large; }

/*
  ************* Gist Post *********
 */
.gist-post {
  border-bottom: #b7b7b7 dashed 1px;
  font-size: 16px;
  font-family: 'Open Sans'; }

.single-post {
  padding-bottom: 34px; }

.gist-post h3,
.nice-header {
  color: #5bc0de;
  font-style: italic;
  font-size: 35px;
  font-family: Redressed, Georgia; }

.gist-post .read-more {
  font-style: italic; }

.post-date {
  color: brown;
  text-align: left; }

.social-buttons {
  display: block;
  height: 30px; }

.social-buttons ul {
  padding-left: 0;
  list-style: none; }

.social-buttons ul li {
  float: left;
  padding-left: 25px; }

/** Add Content **/
.add-content {
  padding-top: 350px;
  color: gray;
  font-size: small; }

/*
Copyright
---------------------- */
.copyright {
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  background-color: #3F3F3F;
  color: white;
  font-size: 18px; }

.copyright a {
  text-align: center;
  text-decoration: none; }

.copyright a:hover,
.copyright a:focus {
  border-bottom: #5bc0de solid 2px;
  color: #5bc0de; }

.copyright .list-inline li img {
  height: 30px;
  opacity: 0.7;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .copyright .list-inline li img:hover {
    opacity: 1; }

.copyright .list-inline .icon a:hover {
  border-bottom: none; }

.error-form {
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  width: 80%; }

.copyright .list-inline {
  padding-right: 10px; }

.navbar-default .navbar-brand {
  color: greenyellow;
  font-size: 35px; }

.navbar-default .navbar-form {
  border: none; }

.post-comment {
  margin-top: 10px; }

.comment-heading {
  margin-bottom: 15px; }

.comment-heading h4 {
  margin: 0;
  font-size: 25px; }

.old-comments .panel-title {
  color: grey;
  font-size: 12px; }

.old-comments .glyphicon {
  display: block;
  float: right;
  margin-left: 20px;
  color: #333; }

.old-comments .glyphicon:hover,
.old-comments .glyphicon:focus {
  color: #428bca; }

.panel-default > .panel-heading {
  background-color: silver; }

.panel .glyphicon-play {
  position: absolute;
  top: 9px;
  right: 97%;
  display: block;
  float: left;
  color: silver;
  font-size: 20px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg); }

.panel-success .glyphicon-play {
  color: #dff0d8; }

.timetable td {
  height: 60px;
  text-align: center; }

.text-center {
  text-align: center; }

.search-panel {
  background-color: #dff0d8; }

.table .credit-total {
  border: none;
  font-weight: bold; }

.join-us .glyphicon-ok {
  color: green;
  font-size: 10px; }

.glyphicon-remove {
  margin-right: 5px; }

.join li {
  background-color: #ddd; }

.sign-in {
  margin: 0 auto;
  min-width: 300px;
  width: 40%; }

.sign-in .panel {
  margin-bottom: 0; }

.sign-in .panel-heading {
  margin-top: -20px;
  padding-top: 0;
  padding-bottom: 0; }

.navbar-default .auth .dropdown-toggle,
.navbar-default .navbar-nav > li > a {
  padding-left: 0;
  color: #fff; }

.navbar-default .auth .dropdown-menu li a {
  padding-top: 6px;
  padding-bottom: 0;
  height: 40px;
  text-align: left;
  font-weight: bold;
  font-size: 17px; }

.navbar-default .auth .dropdown-toggle:hover {
  color: pink; }

.navbar-default .auth .dropdown-menu li a:hover {
  background-color: #eaebec; }

.navbar-default .auth .dropdown-toggle {
  font-weight: bold; }

.account-nav .list-group-item {
  text-transform: none; }

.comment-panel {
  padding-bottom: 3px; }

blockquote, blockquote p {
  font-weight: bold;
  font-size: small;
  font-color: grey;
  font-style: italic; }

.gist-post h4 {
  font-weight: bold;
  text-decoration: underline; }

.spinner {
  top: 255px !important; }

/* Media Queries  */
@media screen and (min-width: 768px) {
  .navbar-search {
    margin-left: 40px; }

  .navbar-form .form-control {
    width: 400px; }

  .bs-header {
    text-align: left;
    font-size: 21px; }

  .bs-header h1 {
    font-size: 60px;
    line-height: 1; } }
.text-right .glyphicon-search {
  margin-right: 5px; }

.text-center .glyphicon-upload,
.glyphicon-download {
  margin-left: 5px; }

.text-wrap {
  word-wrap: break-word; }

.featured-item {
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  margin-top: 25px;
  padding-bottom: -5px; }
  .featured-item p {
    font-size: 14.5px; }
  .featured-item h3 {
    padding-top: 0;
    margin-top: 0; }
  .featured-item img {
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: -10px; }
  .featured-item .col-md-4,
  .featured-item .col-md-8 {
    padding-left: 0;
    padding-right: 5px; }

.featured-link {
  color: #333; }
  .featured-link:hover {
    color: #333; }

@media screen and (min-width: 992px) {
  .bs-header h1,
  .bs-header p {
    margin-right: 150px; }

  .featured-item h1, .featured-item p {
    margin-right: 0; } }
@media screen and (max-width: 843px) {
  .spinner {
    display: none !important; } }
/*-- Fonts --*/
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'BebasNeue';
  src: url("../fonts/BebasNeue.eot");
  src: url("../fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue-webfont.ttf") format("truetype"), url("../fonts/BebasNeue-webfont.svg#BebasNeuemedium") format("svg"); }
/* Overwriting bootstrap styles */
.btn-success {
  background-color: #079500;
  border-color: #079500; }

/*# sourceMappingURL=helper.css.map */
