/*
Error: Undefined mixin 'transition'.
        on line 218 of sass/helper.scss, in `transition'
        from line 218 of sass/helper.scss

213: }
214: 
215: .copyright .list-inline li img{
216:   height:30px;
217:   opacity: 0.7;
218:   @include transition(.3s all linear);
219:   &:hover{
220:     opacity: 1;
221:   }
222: }
223: 

Backtrace:
sass/helper.scss:218:in `transition'
sass/helper.scss:218
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:338:in `block in visit_mixin'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/stack.rb:98:in `block in with_mixin'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/stack.rb:98:in `with_mixin'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:336:in `visit_mixin'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:420:in `map'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `map'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/engine.rb:285:in `render_with_sourcemap'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `each'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/home/xift/.rvm/gems/ruby-2.1.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:329:in `block in watch'
/home/xift/.rvm/gems/ruby-2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/home/xift/.rvm/gems/ruby-2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/home/xift/.rvm/gems/ruby-2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/home/xift/.rvm/gems/ruby-2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/home/xift/.rvm/gems/ruby-2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/home/xift/.rvm/gems/ruby-2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'transition'.\A         on line 218 of sass/helper.scss, in `transition'\A         from line 218 of sass/helper.scss\A \A 213: }\A 214: \A 215: .copyright .list-inline li img{\A 216:   height:30px;\A 217:   opacity: 0.7;\A 218:   @include transition(.3s all linear);\A 219:   &:hover{\A 220:     opacity: 1;\A 221:   }\A 222: }\A 223: "; }
