/*-- Icon Fonts --*/
.icon-facebook{
color:greenyellow;
font-size:40px;
}
.icon-twitter{
color:greenyellow;
font-size: 40px;
}
.icon-facebook:hover,
 .foundicon-facebook:focus {
color:  #3B5998;
}
.icon-twitter:hover,
.foundicon-twitter:focus {
color:  #33ccff;
}

/*-- Topography --*/
body { 
  font-size: 15px;
  padding-top:50px; 
}

.navbar-default{
background: black url(../images/navbar.png) repeat;
border:none;
font-size: 17px;
}
.navbar-default .navbar-brand{
color:greenyellow;
font-size: 35px;
}
.bs-header {
background:rgb(242, 242, 242);
border-bottom:2px solid rgb(240, 230, 242);
font-size: 16px;
padding: 10px 15px 10px;
text-align: center;
}
.navbar-nav li a, .navbar-form{
text-align: center;
}
.bs-header p {
font-weight: 300;
line-height: 1.5;
}
.bs-header .container {
position: relative;
}

.header-form-group{
  width:300px;
}
.side-nav{
padding-bottom: 25px;
display:block;
font-size:18px;
margin-top:30px;
}
.side-nav .list-group-item{
background-color: rgba(0,0,0,0.7);
color: #eeb213;
}

.side-nav .list-group-item{
background: rgba(0,0,0,0.7);
color:greenyellow;
display: block;
letter-spacing: 1px;
text-transform: uppercase;
text-shadow: 0px 0px 5px #eeb213;
-moz-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
-webkit-transition: all 0.2s linear;
transition: all 0.2s linear;
}

.side-nav .list-group-item:hover,
.side-nav .list-group-item:focus{
background-color: orangered;
}
.side-nav .list-group-item.active,
.side-nav .list-group-item.active:hover,
.side-nav .list-group-item.active:focus{
background: rgba(0,0,0,1.0);
background: #428bca;
text-shadow: 0px 0px 1px #eeb213;
}

em{
  font-weight: bold;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs> li.active > a:focus 
{
  color:#ffffff;
  background-color:#428bca;
}

.nav-tabs{
  font-weight: bold;
  color:#5bc0de;
}

.main-content{
margin-top:30px;
padding-bottom: 10px
}
/*-- Forms --*/
.course-form{
  width:70%;
  margin: 0 auto;
}

/*-- Headings --*/
h2{
text-align: center;
font-size:34px;
text-transform: uppercase;
letter-spacing: 1px;
word-spacing: 4px;
font-family: 'BebasNeue', arial, monospace;
}

/* GPA Calculator Table */
.semester{
  width:47%;
  float:left;
  margin-left:1%;
  margin-right:2%;
}
.gpa .form-control{
width:100%;
padding:1px;
}

.gpa th,
.course th,
.course td,
.gpa  input
{
  text-align: center;
}

.gpa-button a{
  margin-right: 20px;
  margin-bottom:50px;
}
.gpa-button{
  width:50%!important;
  margin:0 auto;
  margin-top: 10px;
  padding-bottom: 10px;
}
.gpa-button input{
  margin-left: 20px;
  width:100px;
}
.gpa-button p{
  font-weight: bold;
  font-size: large;
}

/*
  ************* Gist Post *********
 */

.gist-post{
    border-bottom:#b7b7b7 dashed 1px;
}

.gist-post h3{
  color: #5bc0de;  
  font-family: Redressed, Georgia;
  font-size: 35px;
  font-style: italic;
}
.gist-post .read-more{
  font-style: italic;
}
.post-date{
  color:brown;
  text-align: left; 
}

.social-buttons{
  display:block;
  width:270px;
  height:30px;
  margin:0 auto;
}

.social-buttons ul{
  padding-left: 0;
  list-style: none;
}
.social-buttons ul li{
  float:left;
  padding-left: 25px;
}

/** Add Content **/
.add-content{
  color: gray;
  font-size: small;
  padding-top: 350px;
}

/*
Copyright
---------------------- */
.copyright {
  background: #3F3F3F;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding-top: 10px
}
.copyright a {
  text-align: center;
  text-decoration: none;
}

.copyright a span{
  color:white;
}


.copyright a:hover,
.copyright a:focus
{
  color:#5bc0de;
  border-bottom: #5bc0de solid 2px;
}

.error_form{
  padding-top:30px;
  display:block;
  width:80%;
  margin:0 auto;
}

.copyright .list-inline{
  padding-right: 10px;
}

/* Media Queries  */
@media screen and (min-width: 768px) {
  .bs-header {
  font-size: 21px;
  text-align: left;
  }

  .bs-header h1 {
  font-size: 60px;
  line-height: 1;
  }
}

@media screen and (min-width: 992px) {

  .bs-header h1,
  .bs-header p {
  margin-right: 380px;
  }

  .form-control{
  width:500px;
  }
}


/*-- Fonts --*/
@font-face {
font-family: 'BebasNeue';
font-style: normal;
font-weight: normal;
src: url('../fonts/BebasNeue.eot');
src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/BebasNeue-webfont.woff') format('woff'),
url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
url('../fonts/BebasNeue-webfont.svg#BebasNeuemedium') format('svg');
}