<!DOCTYPE html>
<html>
  <head>
    <title>UBresources</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../stylesheet/vendor/normalize.min.css" rel="stylesheet" media="screen">
    <link href="../stylesheet/vendor/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../stylesheet/vendor/rondo_fonts.min.css" rel="stylesheet" media="screen">
    <link href="../stylesheet/ui_style.css" rel="stylesheet" media="screen">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="./javascript/vendor/html5shiv.min.js"></script>
    <script src="./javascript/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
      <nav class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../">UB Resources</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <div class="col-md-12">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="I want to search this site for">
              </div>
              <button type="submit" class="btn  btn-info"><span class="glyphicon glyphicon-search"></span> </button>
            </form>
            <div>
              <ul class="nav navbar-nav navbar-right" role="social">
                <li><a href="#"><span aria-hidden="true" class="icon-facebook"></span></a></li>
                <li><a href="#"><span aria-hidden="true" class="icon-twitter"></span></a></li>
              </ul>
              </div><!-- /.navbar-collapse -->
            </div>
          </div>
        </nav>
      </header>
      <!-- Docs page layout -->
      <section class="bs-header" id="content">
        <div class="container">
          <h1>Gist</h1>
          <p>Get updated with what's happening in the  <a href="http://www.ubuea.cm">university</a> wherever you are</p>
        </div>
      </section>
      <section class="container">
        <section class="row">
          <div class="col-md-3">
            <div class="list-group side-nav">
              <a href="./" class="list-group-item active"><span class="badge"><span class="glyphicon glyphicon-hand-right"></span></span>Gist</a>
              <a href="../time-tables/" class="list-group-item">Time Tables</a>
              <a href="../past-questions/" class="list-group-item">Past Questions</a>
              <a href="../gpa-calc/" class="list-group-item">GPA Calculator</a>
              <a href="../course-outline/" class="list-group-item">Course Outline</a>
              <a href="../links" class="list-group-item">Useful Links</a>
              <a href="../contribute" class="list-group-item">Contribute</a>
              <a href="../support" class="list-group-item">Support</a>
            </div>
          </div>
          
          <div class="col-md-9">
            <div class="main-content">
              <!-- ************Sample  article post ****************
              <article class="gist-post">
              <h3>Official School Reopening</h3>
              <p class="post-date">Posted on 14 october 2013</p>
              <p>The message goes here<a><span class="read-more">[See full post]</span></a>
              </p>
              <div class="social-buttons">
              </div>
              </article>
              -->
              <article class="gist-post">
              <h3>Official School Reopening</h3>
              <p class="post-date">Posted on 9<sup>th</sup> October 2013</p>
              <p>The official reopening date for the start of classes this  2013/2014 academic year is the <strong>14<sup>th</sup> of October 2013</strong>. Matriculation shall take place three weeks later on the 2<sup>nd</sup> of November. Please do check out the  official school calender at <a href="http://ubuea.cm/ub-academic-calendar/r">http://ubuea.cm/ub-academic-calendar/</a> for the dates of other important events
              </p>
              <div class="social-buttons">
                <ul>
                  <li><a href="">Twitter</a></li>
                  <li><a href="">Google+</a></li>
                  <li><a href="">facebook</a></li>
                </ul>
              </div>
              </article>
            </div>
          </div>
        </section>
      </section>
      
      <section class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p>&copy; 2013 UB Resources</p>
            </div>
            <div class="col-md-5 col-md-offset-3">
              <ul class="list-inline">
                <li><a href="../contribute/error.html">Report Error</a></li>
                <li><a href="../about.html">About Us</a></li>
                <li><a href="http://www.twitter.com/acho_arnold" target="_blank" ><span>Realised by </span>Najela Inc.</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="../javascript/vendor/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="../javascript/vendor/bootstrap.min.js"></script>
    </body>
  </html>